<div class="container ">
  <div class="row">

    <div class="col-md-3">
      <form class="row">
        <div class="form-group col-lg-12">
          <textarea [(ngModel)]="textArea" name="textArea" class="form-control" placeholder="{{placeholder}}"></textarea>
        </div>
        <div class="col-lg-12 align-self-center">

          <span *ngIf="loading;then loadingTmplt else showTmplt"></span>
          <ng-template #loadingTmplt>
            <button (click)="ser()" class="col-lg-12 btn btn-outline-primary progress-bar progress-bar-striped progress-bar-animated">Search</button>
          </ng-template>
          <ng-template #showTmplt>
            <button (click)="ser()" class="col-lg-12 btn btn-outline-primary">Search</button>
          </ng-template>


        </div>
      </form>
    </div>
    <div class="col-md-9">
      <table class="table table-striped table-hover table-sm">
        <thead class="">
        <tr>
          <th>#</th>
          <th width="30%">الاسم</th>
          <th data-toggle="tooltip" data-placement="top" title="Tooltip on top">البريد <br>الحكومي</th>
          <th>البريد <br>الاسرائيلي</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let row of rows;let i = index">
          <td>{{row['trackNo']}}</td>
          <td>
            <form>
              <input class="form-control" [(ngModel)]="row['productName']" (keyup)="tblInput()" name="tblInput"  value="here product name">
            </form>
          </td>
          <td title="{{row.local.title +' : '+row.local.addition}}">
            <i class="{{row.local.cls}}"></i>
          </td>
          <td title="{{row.isra.title+' : '+row.isra.addition}}">
            <i class="{{row.isra.cls}}"></i>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
